<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Operaciones</title>
</head>
<body>
    
    <h1>Menu de Operaciones</h1>
    <hr>
    <ul>
        <li><a href="/mascotas">Mantenimiento de Mascotas</a></li>
        <li><a href="/medicamentos">Mantenimientos de Medicos</a></li>
        <li><a href="/medicos">Mantenimiento de Medicamentos</a></li>
        <li><a href="/acessorios">Mantenimiento de Accesorios</a></li>
        <li><a href="/reportes">Reportes</a></li>
        <li><a href="/logout">Salir</a></li>
    </ul>
</body>
</html>